/*空白搜索栏*/
#nav-blank{
	width: 100%;
	height: 106px;
	border-bottom: 1px solid rgba(233,233,233);
}
.nav-blank{
	width: 1089px;
	position: relative;
}
.nav-blank img{
	position: absolute;
	left: 0px;
	top: 20px;
}

/*登录注册show*/
#login-show{
	width: 100%;
	height: 55px;
	background-color: rgb(236,236,236);
	display: inline-block;/*出现3像素的间隙*/
	margin-bottom: -3px;/*解决3像素间隙*/
	border-top: 1px solid rgb(211,211,211);
}
.login-show{
	width: 494px;
	height: 38px;
	margin-top: 17px;
}
.login-show .login-show-register{
	display: block;
	float: left;
	background-color: #FFFFFF;
	width: 240px;
	height: 37px;
	border-right: 1px solid rgb(211,211,211);
	border-top: 1px solid rgb(211,211,211);
	border-left: 1px solid rgb(211,211,211);
}
.login-show .login-show-login{
	margin-left: 9px;
	border-top: 3px solid rgb(255,92,0);
}
.login-show-btn{
	display: block;
	line-height: 37px;
}
.login-show-register i,.login-show-register span{
	float: left;
}
.login-show-register i{
	display: block;
	margin-left: 97px;
	background: url(../img/login/register.png) no-repeat -298px -9px;
	width: 16px;
	height: 16px;
	margin-top: 11px;
}
.login-show-register span{
	margin-left: 6px;
	font-weight: bold;
	color: rgb(151,151,151);
}
.login-show .login-show-login{
	height: 36px;
}
.login-show .login-show-login i{
	background: url(../img/login/register.png) no-repeat -265px -9px;
}
.login-show-login span{
	color: rgb(255,92,0);
}

/*登录login*/
#mylogin{
	width: 100%;
	height: 470px;
	background-color: rgb(236,236,236);
}
.mylogin{
	width: 997px;
	height: 430px;
	background-color: #FFFFFF;
	border: 1px solid rgb(211,211,211);
}
.login-left{
	width: 400px;
	height: 300px;
	background-color: red;
	margin-left: 76px;
	margin-top: 54px;
}
