/*空白搜索栏*/
#nav-blank{
	width: 100%;
	height: 106px;
	border-bottom: 1px solid rgba(233,233,233);
}
.nav-blank{
	width: 1089px;
	position: relative;
}
.nav-blank img{
	position: absolute;
	left: 0px;
	top: 20px;
}

/*登录注册show*/
#login-show{
	width: 100%;
	height: 55px;
	background-color: rgb(236,236,236);
	display: inline-block;/*出现3像素的间隙*/
	margin-bottom: -3px;/*解决3像素间隙*/
	border-top: 1px solid rgb(211,211,211);
}
.login-show{
	width: 494px;
	height: 38px;
	margin-top: 17px;
}
.login-show .login-show-register{
	display: block;
	float: left;
	background-color: #FFFFFF;
	width: 240px;
	height: 37px;
	border-right: 1px solid rgb(211,211,211);
	border-top: 1px solid rgb(211,211,211);
	border-left: 1px solid rgb(211,211,211);
}
.login-show .login-show-login{
	margin-left: 9px;
	border-top: 3px solid rgb(255,92,0);
}
.login-show-btn{
	display: block;
	line-height: 37px;
}
.login-show-register i,.login-show-register span{
	float: left;
}
.login-show-register i{
	display: block;
	margin-left: 97px;
	background: url(../img/login/register.png) no-repeat -298px -9px;
	width: 16px;
	height: 16px;
	margin-top: 11px;
}
.login-show-register span{
	margin-left: 6px;
	font-weight: bold;
	color: rgb(151,151,151);
}
.login-show .login-show-login{
	height: 36px;
}
.login-show .login-show-login i{
	background: url(../img/login/register.png) no-repeat -265px -9px;
}
.login-show-login span{
	color: rgb(255,92,0);
}

/*登录login*/
#mylogin{
	width: 100%;
	height: 470px;
	background-color: rgb(236,236,236);
}
.mylogin{
	width: 997px;
	height: 430px;
	background-color: #FFFFFF;
	border: 1px solid rgb(211,211,211);
}
.login-left{
	width: 400px;
	height: 300px;
	margin-left: 76px;
	margin-top: 54px;
}
.mylogin .login-left,.login-right{
	float: left;
}
/*登录表单验证*/
.login-right{
	width: 425px;
	height: 358px;
	position: relative;
	margin-top: 50px;
	margin-left: 50px;
}
/*包裹表单项和对应的提示信息*/
.login-name{
	width: 338px;
	height: 37px;
	padding-bottom: 30px;
}
/*登录名表单项*/
.login-name .login-box{
	position: relative;
	width: 100%;
	height: 100%;
	line-height: 37px;
}
.login-name .login-box input{
	width: 266px;
	height: 33px;
	padding-left: 5px;
	border: 1px solid #666;
	margin-left: 12px;
	outline: none;
}
.login-name .login-box label{
	color: #666;
}
/*账户名验证错误时样式*/
.login-name .login-box-name input{
	border: 1px solid #f00;
	color: #f00;
}
.login-name .login-box-name i{
	display: block;
	width: 112px;
	height: 24px;
	line-height: 24px;
	margin-top: 2px;
	background:url(../img/login/onError.gif) no-repeat 3px center;
	background-color: rgb(255,237,181);
	border-radius: 4px;
	border: 1px solid rgb(255,92,0);
	color: #f00;
	margin-left: 54px;
	padding-left: 23px;
	font-style: normal;
	font-size: 14px;
}
/*密码表单项*/
.login-name div.login-box-pwd{
	margin-left: 12px;
	margin-top: 4px;
}
.login-name div.login-box-pwd i{
	margin-left: 42px;
	width: 148px;
}
/*表单验证项*/
.login-name div.login-box-mobile input{
	width: 122px;
}
.login-name div.login-box-mobile i{
	width: 130px;
}
/*验证码内容*/
.login-box-mobile{
	position: relative;
}
.login-box-mobile input#mobile{
	margin-left: 15px;
}
.login-box-mobile label,.login-box-mobile input,.login-box-mobile .login-auth-code{
	float: left;
}
.login-auth-code{
	position: absolute;
	width: 80px;
	height: 34px;
	left: 200px;
}
.auth-code{
	width: 80px;
	height: 34px;
	border: 1px solid #aaa;
}
.login-auth-code span,.login-auth-code a{
	position: absolute;
	display: block;
	width: 50px;
	height: 34px;
	top: 0;
}
.login-auth-code span{
	left: 90px;
}
.login-auth-code a{
	left: 138px;
	color: rgb(0,184,255);
}
.login-name div.login-box-mobile #auth-code-i{
	position: absolute;
	top: 36px;
}
/*点击30天内自动登录*/
div.login-name#login-btn{
	height: 12px;
}
#ck{
	border: medium none;
	width: 14px;
	height: 14px;
	position: relative;
	top: 3px;
}
.login-name .login-box-ck{
	margin-left: 42px;
}
.login-box-ck span{
	color: #666666;
}
.login-name .login-box-ck span a{
	margin-left: 8px;
	color: rgb(0,184,255);
}
/*登录按钮*/
#btn{
	cursor: pointer;
	width: 227px;
	height: 39px;
	line-height: 39px;
	text-align: center;
	background-color:rgb(250,92,0) ;
	color: #FFFFFF;
	margin-left: 100px;
	border: none;
	font-weight: bold;
	font-size: 14px;
}

/*合作账号*/
.cooperate-web{
	width: 186px;
	height: 55px;
	margin-left: 100px;
	margin-top: 10px;
}
.cooperate-web-link a{
	float: left;
	width: 24px;
	height: 24px;
	margin-right: 10px;
	margin-top: 10px;
}
.cooperate-link-weibo{
	background: url(../img/login/register.png) no-repeat -2px -301px;
}
.cooperate-link-qq{
	background: url(../img/login/register.png) no-repeat -84px -301px;
}
.cooperate-link-zhifubao{
	background: url(../img/login/register.png) no-repeat -28px -301px;
}
