#nav{
	width: 100%;
	height: 35px;
}
.mynav{
	width: 1089px;
	height: 35px;
	position: relative;
}
#ui-nav{
	position: absolute;
	cursor: pointer;
	width: 142px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: rgb(255,92,0);
	font-weight: bold;
}
#ui-nav i{
	position: absolute;
	top: 15px;
	right: 20px;
	width: 9px;
	height: 6px;
	background: url(../../img/common/search/top_bar2.png) no-repeat -110px -65px;
}

/*首页导航*/
.nav-list{
	position: absolute;
	width: 500px;
	left: 142px;
}
.nav-list dt,.nav-list dd{
	float: left;
}
.nav-list dt a{
	color: rgb(255,92,0);
}
.nav-list a{
	display: block;
	margin-left: 21px;
	margin-right: 21px;
	height: 35px;
	line-height: 35px;
	color: #333;
}
/*直邮专区*/
.nav-list .nav-europe{
	display: none;
}
.nav-list .nav-europe:hover{
	color: rgb(255,92,0);	
}


.nav-alert{
	position: absolute;
	width: 170px;
	height: 35px;
	line-height: 35px;
	
	right: 44px;
}
.nav-alert dt,.nav-alert dd{
	float: left;
}
.nav-alert dd a{
	color: rgb(255,92,0);
}
.nav-alert dt{
	width: 28px;
	height: 35px;
	margin-left: 0;
}
.nav-alert dt span{
	display: block;
	width: 34px;
	height: 28px;
	margin-top: 4px;
	margin-left: -4px;
	background: url(../../img/common/search/top_bar2.png) no-repeat -136px -65px;
}

